body {
  background-color: black;
}

.pagelist {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 9px;
  word-spacing: 11px;
  color:  white;
  position:  relative;
  margin: 25px 0 25px 0;
}

.pagelist a {
  padding: 5px;
}

.pagelist a:link, .pagelist a:hover, .pagelist a:visited {
  text-decoration: none;
  color: white;
}

div.content div.images img {
  opacity: 0;
  transition: 1s opacity;
}

div.content div.images img.show {
  opacity: 1;
  transition: 1s opacity;
}

div.content .prev, div.content .next {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
div.content .next{
  border-left:10px solid white;
}

div.content .prev{
  border-right:10px solid white;
}

div.content .next:hover, div.content .prev:hover{
  cursor: pointer;
}
